<p>template-driven-form-example works!</p>
<!-- -->

<form #templateForm="ngForm" (ngSubmit)="onSubmit(templateForm.value)">
    <div class="field">
      <label class="label" for="name">Name: </label>
      <div class="control">
        <input class="input"
              type="text"
              [(ngModel)]="formUser.name"
              name="name"
              #name="ngModel"
              required>
      </div>
      <!-- Add validity field check -->
      <p [hidden]="name.valid || name.pristine" class="is-size-6 has-text-danger">Name is required.</p>
    </div>
  
    <div class="field">
      <label class="label" for="surname">Surname: </label>
      <div class="control">
        <input class="input"
              type="text"
              [(ngModel)]="formUser.surname"
              name="surname"
              #surname="ngModel"
              required>
      </div>
    </div>
  <!-- Example of SelectBox -->
  <div class="field"> 

    <label class="label" for="country">Country: </label>

    <div class="control">
    <select class="form-control" name="country" [(ngModel)]="model.country" #country="ngModel"
      required>  
      <option [ngValue]="null">---Select---</option>  
      <option *ngFor="let item of countryData" [value]="item">  
        {{item}}  
      </option>  
    </select>  
    </div>
  </div> 
  
  <!-- Example SelectBox with multiple values -->
  <div class="field"> 
  
      <label class="label" for="favoriteSnacks">Favorite snacks: </label>

      <div class="control">
          <select
          name="favoriteSnacks"
          [(ngModel)]="formUser.favoriteSnacks"
          multiple
          size="5">
          <option *ngFor="let snackOption of snacks" [ngValue]="snackOption">
              {{ snackOption.name }}
          </option>
      </select>
      </div>
  </div>

  <!-- Sample chackbox -->
  <div class="field"> 
      <label class="label" for="checkbox">Simple checkbox: </label>
      
      <div class="control">
          <input type="checkbox" ngModel name="checkBoxValue"> Use checkbox?
      </div>
  </div>

  <!-- Sample RadioButton -->
  <div class="field"> 
      <label class="label" for="checkbox">Simple radiobutton: </label>
      
      <div class="control">
        <!-- -->  
        <label>
              <input type="radio" ngModel name="radioGroupSelection" value="1"> RadioButton First Selection
            </label>
            <!-- -->
            <label>
              <input type="radio" ngModel name="radioGroupSelection" value="2"> RadioButton Second Selection
            </label>
      </div>
  </div>

  <!-- Simple TextArea -->
  <div class="field"> 
  
      <label class="label" for="notes">Additional notes</label>
      
      <div class="control">
          <textarea ngModel class="form-control" name="notes" id="notes" rows="6" placeholder="Add additional notes here."></textarea>
      </div>
  </div>
  <!-- Submit Button -->
    <button type="submit" class="button is-primary">Submit</button>
  </form>